@model YRD.Model.ViewModels.ViewAddMessageRecharge
@{
    ViewBag.Title = "短信余额--购买";
    ViewBag.menuid = 1117;
}
@section css    {
    <!--本页css-->
    <link rel="stylesheet" href="@ConfigHelper.GetCdnUrl/Content/css/account-manage.css" />
}

<div class="page-content">
    <div class="container-fluid">
        <!--面包屑-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li class="backprev">
                        <a href="">返回上一级</a>
                    </li>
                    <li>
                        <b class="iconbg account-manage"></b>
                        <a href="/AccountInfo/AccountCenter">账户管理</a>
                        <b class="iconbg angle-right-solid"></b>
                    </li>
                    <li>
                        <a href="/MessageBank/MessageBalance">短信余额</a>
                        <b class="iconbg angle-right-solid"></b>
                    </li>
                    <li>
                        <a href="/MessageBank/AddMessageRecharge">购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--内容区域-->
        <div class="row-fluid " id="ab_message_recharge">
            <div class="portlet box tabbable">
                <div class="portlet-body">
                    <div class="tabbable portlet-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#message_balance" data-toggle="tab">短信余额</a></li>
                            <li><a href="/MessageBank/RechargeDetail">购买列表</a></li>
                            <li><a href="/MessageBank/MessageDetail">短信明细</a></li>
                        </ul>
                        <div class="tab-content">
                            <!--短信余额购买-->
                            <div class="active tab-pane" id="message_balance">
                                @using (Ajax.BeginForm("SaveMessageRecharge", null, new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    OnBegin = "SubAjax.Loading",
                                    OnComplete = "SubAjax.Complate",
                                    OnFailure = "SubAjax.Failure",
                                    OnSuccess = "SubAjax.Success"
                                }, new { @class = "form-horizontal", @role = "form", @id = "commentForm" }))
                                {
                                    <div class="control-group">
                                        <label class="control-label">类型</label>
                                        <div class="controls">
                                            <span class="text-inline">购买短信</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">购买条数</label>
                                        <div class="controls recharge-btns">
                                            @foreach (var item in Model.ListSmsPackagePrice)
                                            {
                                                <button type="button" class="btn" data-price="@item.Price" data-account="@item.ID"><span>@item.Price</span>元 / <span>@item.ID</span>条</button>
                                            }

                                            @*<button type="button" class="btn" data-price="180" data-account="2000"><span>180</span>元 / <span>2000</span>条</button>
                                                <button type="button" class="btn" data-price="400" data-account="5000"><span>400</span>元 / <span>5000</span>条</button>
                                                <button type="button" class="btn" data-price="750" data-account="10000"><span>750</span>元 / <span>10000</span>条</button>*@
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">本次支付</label>
                                        <div class="controls">
                                            <span class="text-inline payBox">
                                                <span class="pay-money">0</span>
                                                <input type="hidden" class="mess-price" name="Price" value="@Model.Price" />
                                                <input type="hidden" class="mess-account" name="SmsCount" value="@Model.SmsCount" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">支付密码</label>
                                        <div class="controls">
                                            <input type="password" class="m-wrap small" name="PayPassword" value="@Model.PayPassword" />
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn blue medium">立即支付</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{

    <!--本页js-->
    <script src="@ConfigHelper.GetCdnUrl/Content/js/system-manage.js"></script>
    <script src="~/Content/JS/MyForm.js"></script>
}
