<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 美味云微信公众号管理平台</title>
    <meta name="keywords" content="美味云微信公众平台" />
    <meta name="description" content="美味云微信公众平台" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/darktooltip.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="/Content/danktooltip/js/jquery.darktooltip.min.js"></script>
    @RenderSection("HeaderContent", false)
</head>
<body>
    <div class="content">
        <div class="senparc-header">
            <div class="wrapper">
                <div class="logo">
                    
                </div>
                <div class="header-title">
                    <a href="@Url.Action("Index", "Home")" title="美味云微信公众号管理平台">美味云微信公众号管理平台</a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav-catalog">
                        <li><a href="@Url.Action("Index", "MPMenu")">菜单设置工具</a></li>
                        <li><a href="@Url.Action("Index", "SimulateTool")">消息模拟工具</a></li>
                        <li><a href="https://mp.weixin.qq.com/debug/cgi-bin/sandboxinfo?action=showinfo&t=sandbox/index" target="_blank">测试号入口</a></li>
                        @*<li><a href="@Url.Action("JumpToMpOAuth", "OpenOAuth")">开放平台</a></li>
                        <li><a href="@Url.Action("Test", "Cache")">缓存测试</a></li>*@
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 公告 -->
        <div id="noticearea">
            <div class="wrapper">
                <span></span>
            </div>
        </div>

        @RenderBody()
       
        <div class="footer">
            <p class="footer-contact">
               
            </p>
            <p class="footer-icon">&copy; @DateTime.Now.Year 美味云科技有限公司，版权所有，保留所有权利。</p>
        </div>
        @RenderSection("scripts", required: false)
        <div style="display: none;">
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?a8ad9ff7b9dd4cbb5510f6a929ba085f";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();

                $(function () {
                    loadQQGroups();
                });

                function loadQQGroups() {
                    $.ajax({
                        type: "get",
                        async: false,
                        url: "https://weixin.senparc.com/WeixinSdk/GetSdkQqGroupListJson",
                        dataType: "jsonp",
                        jsonp: "callbackparam", //服务端用于接收callback调用的function名的参数
                        jsonpCallback: "success_jsonpCallback", //callback的function名称
                        success: function (json) {
                            $('#qqGroups').html(json[0].html);
                            $('#contact-content li.contact-qq').darkTooltip({
                                theme: 'light'
                            });
                        },
                        error: function () {
                            //alert('fail');
                        }
                    });
                }
            </script>
        </div>
    </div>
</body>
</html>
