@model YRD.Model.ViewModels.ViewChangePassword
@{
    ViewBag.Title = "账户安全";
    ViewBag.menuid = 1112;
}
@section css    {
    <!--本页css-->
    <link rel="stylesheet" href="@ConfigHelper.GetCdnUrl/Content/css/account-manage.css" />
}
<div class="page-content">
    <div class="container-fluid">
        <!--面包屑-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <b class="iconbg account-manage"></b>
                        <a href="/AccountInfo/AccountCenter">账户管理</a>
                        <b class="iconbg angle-right-solid"></b>
                    </li>
                    <li>
                        <a href="/AccountSafe/ChangePassword">账户安全</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--内容区域-->
        <div class="row-fluid ">
            <div class="portlet box tabbable">
                <div class="portlet-body">
                    <div class="tabbable portlet-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#" data-toggle="tab">密码修改</a></li>
                        </ul>
                        <div class="tab-content">
                            <!--密码修改-->
                            <div class="active tab-pane" id="password_change">
                                @using (Ajax.BeginForm("SaveChangePassword", null, new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    OnBegin = "SubAjax.Loading",
                                    OnComplete = "SubAjax.Complate",
                                    OnFailure = "SubAjax.Failure",
                                    OnSuccess = "SubAjax.Success"
                                }, new { @class = "form-horizontal", @role = "form", @id = "commentForm" }))
                                {
                                    <input type="hidden" name="UserName" value="@Model.UserName" />
                                    <div class="control-group">
                                        <label class="control-label">原密码</label>
                                        <div class="controls">
                                            <input type="password" class="m-wrap medium" name="OldPassword" value="@Model.OldPassword" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">新密码</label>
                                        <div class="controls">
                                            <input type="password" class="m-wrap medium" name="NewPassword" value="@Model.NewPassword" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">重新输入</label>
                                        <div class="controls">
                                            <input type="password" class="m-wrap medium" name="ConfirmNewPassword" value="@Model.ConfirmNewPassword" />
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn blue medium">保存</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <!--本页js-->
    <script src="~/Content/JS/MyForm.js">  </script>
}

