@{
    Layout = null;
    ViewBag.Title = "找回密码-" + YRD.BLL.DB.Config.SiteName;
    ViewBag.Title1 = "找回密码";
}
<!DOCTYPE html>
<html>
<head>
    <title>找回密码-今农网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="Keywords" content="找回密码,今农网" />
    <meta name="Description" content="找回密码,页面今农网" />
    <link href="@ConfigHelper.GetCdnUrl/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@ConfigHelper.GetCdnUrl/css/login_registration.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div id="header" class="win1000">
        <a id="logo" href="@ConfigHelper.GetWwwUrl">
            <img alt="今农网"  src="@ConfigHelper.GetCdnUrl/images/logo.png" />
        </a>
        <div id="cityname" class="regname">
            <span>找回密码</span>
        </div>
        <div id="logintext">
            <a href="@ConfigHelper.GetWwwUrl">返回首页</a>|<a target="_blank" href="@ConfigHelper.GetWwwUrl/help">帮助</a>
        </div>
    </div>
    <div class="cb win1000">
        <div class="porleft" style="margin-top:50px">
            <form class="form-horizontal" id="submitForm" action="/user/forgetpassword" role="form">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="userName" check-type="required" placeholder="请填写要找回密码的用户名" required-message="请填写用户名。">
                    </div>
                </div>

                <div class="form-group">
                    <label for="validatecode" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="请点击这里并输入验证号" id="validatecode">
                    </div>
                    <div class="col-sm-2">
                        <img id="valiCode" style="cursor: pointer; display:none" src="/reg/GetValidateCode" alt="验证码" title="看不清，点击验证码换一个" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="validatecode" class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-3">
                        <button type="button" id="btnSubmit" style="width:120px" name="btnSubmit" class="btn btn-primary">提 交</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" id="btnReset" style="width:120px" name="btnReset" class="btn btn-primary">重 置</button>
                    </div>
                </div>
            </form>


        </div>
        <div class="porright" style="">
            <h3>
                您已经是会员，请<a href="/login">登录</a>
            </h3>
            <div class="tel-tip" style="padding-top: 20px; ">
                <strong style="font-size: 20px;">服务宗旨？</strong> <span style="font-size: 14px; line-height: 30px;">为您提供绿色的，方便的快捷信息服务，我们竭诚为您打造身边的便捷的，精准的生活信息服务平台</span>
            </div>
        </div>
    </div>

    <div id="footer" class="win1000">
        <p style="font-size: 14px;">
            今农网 &copy; NChanPin.com
        </p>
    </div>
    <script type="text/javascript" src="@ConfigHelper.GetCdnUrl/jquery/jquery.min.js"></script>
    <script src="@ConfigHelper.GetCdnUrl/bootstrap/js/bootstrap.min.js"></script>
    <script src="@ConfigHelper.GetCdnUrl/bootstrap/js/bootstrap3-validation.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#valiCode").bind("click", function () {
                this.src = "/user/GetValidateCode?time=" + (new Date()).getTime();
            });
            $("#submitForm").validation({ icon: true });
            $("#btnSubmit").on('click', function (event) {
                submitLogin();
            });
            $("#btnReset").on('click', function (event) {
                $("input").val("");
            });
            $("#validatecode").on('click', function (event) {
                $("#valiCode").attr("src", "/user/GetValidateCode?time=" + (new Date()).getTime());
                $("#valiCode").show();
            });
        });

        // 回车键事件
        // 绑定键盘按下事件 ，触发提交登录表单事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                submitLogin();
            }
        });
        function submitLogin() {
            try {
                var userName = $.trim($("#userName").val());

                var validatecode = $.trim($("#validatecode").val());

                var flag = $("#submitForm").valid(this, '内容出错');
                if (flag) {
                    var data = { username: userName, validatecode: validatecode }
                    $.ajax({
                        type: 'post',
                        url: '/user/ForgetPassword',
                        data: data,
                        datatype: JSON,
                        success: function (result) {
                            if (result.Code == 0) {
                                alert(result.Message);
                            } else {
                                window.location.href = "/User/ForgetPage/" + result.Message;
                            }
                        },
                        error: function () {
                            alert("操作异常！");
                        }
                    });
                } else {
                    return false;
                }
            } catch (e) {

            }
        }

    </script>
</body>
</html>
