@{
    Layout = null;
    ViewBag.Title = "找回密码-" + YRD.BLL.DB.Config.SiteName;
    ViewBag.Title1 = "找回密码";
    var cdnurl = ConfigHelper.GetCdnUrl;
}
<!DOCTYPE html>
<html>
<head>
    <title>找回密码-今农网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="Keywords" content="找回密码,今农网" />
    <meta name="Description" content="找回密码,页面今农网" />
    <link href="@cdnurl/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@cdnurl/css/login_registration.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div id="header" class="win1000">
        <a id="logo" href="@ConfigHelper.GetWwwUrl">
            <img alt="今农网" width="280" height="55" src="@ConfigHelper.GetCdnUrl/images/logo.gif" />
        </a>
        <div id="cityname" class="regname">
            <span>找回密码</span>
        </div>
        <div id="logintext">
            <a href="@ConfigHelper.GetWwwUrl">返回首页</a>|<a target="_blank" href="@ConfigHelper.GetWwwUrl/help">帮助</a>
        </div>
    </div>
    <div class="cb win1000">
        <div class="porleft" style="margin-top:50px">
            <form class="form-horizontal" id="submitForm" action="/user/forgetpassword" role="form">
                @{
                    if (ViewBag.IsOK == true)
                    {
                        <div class="form-group">
                            <label for="userName" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-6">
                                @ViewBag.UserName    <input type="hidden" class="form-control" value="@ViewBag.UserName" id="userName" placeholder="请填写要找回密码的用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password1" check-type="required" placeholder="请填写新密码" required-message="请填写新密码。">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password2" check-type="required" placeholder="请再次填写新密码" required-message="请再次填写新密码。">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="validatecode" class="col-sm-2 control-label">&nbsp;</label>
                            <div class="col-sm-3">
                                <button type="button" id="btnSubmit" style="width:120px" name="btnSubmit" class="btn btn-primary">重设密码</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btnReset" style="width:120px" name="btnReset" class="btn btn-primary">重 置</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h2 style="margin-bottom: 20px;">
                            <span class="password-tip-icon">
                                <img src="@cdnurl/images/warn.gif" alt="Alternate Text" />
                                链接已失效或不可用！
                            </span>
                        </h2>
                        <p><a href="@ConfigHelper.GetSoUrl">返回用户中心</a>   </p>
                    }}
            </form>


        </div>
        <div class="porright" style="">
            <h3>
                您已经是会员，请<a href="/login">登录</a>
            </h3>
            <div class="tel-tip" style="padding-top: 20px; ">
                <strong style="font-size: 20px;">服务宗旨？</strong> <span style="font-size: 14px; line-height: 30px;">为您提供绿色的，方便的快捷信息服务，我们竭诚为您打造身边的便捷的，精准的生活信息服务平台</span>
            </div>
        </div>
    </div>

    <div id="footer" class="win1000">
        <p style="font-size: 14px;">
            今农网 &copy; NChanPin.com
        </p>
    </div>
    <script type="text/javascript" src="@ConfigHelper.GetCdnUrl/jquery/jquery.min.js"></script>
    <script src="@ConfigHelper.GetCdnUrl/bootstrap/js/bootstrap.min.js"></script>
    <script src="@ConfigHelper.GetCdnUrl/bootstrap/js/bootstrap3-validation.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#submitForm").validation({ icon: true });
            $("#btnSubmit").on('click', function (event) {
                submitLogin();
            });
            $("#btnReset").on('click', function (event) {
                $("input").val("");
            });

        });

        // 回车键事件
        // 绑定键盘按下事件 ，触发提交登录表单事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                submitLogin();
            }
        });
        function submitLogin() {
            try {
                var userName = $.trim($("#userName").val());
                var password1 = $.trim($("#password1").val());
                var password2 = $.trim($("#password2").val());

                var flag = $("#submitForm").valid(this, '内容出错');
                if (flag) {
                    var data = { username: userName, password1: password1, password2: password2 }
                    $.ajax({
                        type: 'post',
                        url: '/user/ForgetmyPassword',
                        data: data,
                        datatype: JSON,
                        success: function (result) {
                            if (result.Code == 0) {
                                alert(result.Message);
                            } else {
                                alert(result.Message);
                            }
                        },
                        error: function () {
                            alert("操作异常！");
                        }
                    });
                } else {
                    return false;
                }
            } catch (e) {

            }
        }

    </script>
</body>
</html>
